<plist>
<dict>
	<key>1010</key>
	<dict>
		<key>id</key>
		<integer>1010</integer>
		<key>name</key>
		<string>100000铜币</string>
		<key>price</key>
		<integer>6</integer>
		<key>product_id</key>
		<string>Mxiyou.golden.100000</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥6.00的价格购买100000铜币吗？  </string>
	</dict>
    <key>1011</key>
	<dict>
		<key>id</key>
		<integer>1011</integer>
		<key>name</key>
		<string>550000铜币</string>
		<key>price</key>
		<integer>30</integer>
		<key>product_id</key>
		<string>Mxiyou.golden.600000</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥30.00的价格购买600000铜币吗？  </string>
	</dict>
    <key>1012</key>
	<dict>
		<key>id</key>
		<integer>1012</integer>
		<key>name</key>
		<string>1360000铜币</string>
		<key>price</key>
		<integer>68</integer>
		<key>product_id</key>
		<string>Mxiyou.golden.1500000</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥68.00的价格购买1500000铜币吗？  </string>
	</dict>
    <key>1013</key>
	<dict>
		<key>id</key>
		<integer>1013</integer>
		<key>name</key>
		<string>4950000铜币</string>
		<key>price</key>
		<integer>198</integer>
		<key>product_id</key>
		<string>Mxiyou.golden.5000000</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥198.00的价格购买5000000铜币吗？  </string>
	</dict>
    <key>1014</key>
	<dict>
		<key>id</key>
		<integer>1014</integer>
		<key>name</key>
		<string>9300000铜币</string>
		<key>price</key>
		<integer>328</integer>
		<key>product_id</key>
		<string>Mxiyou.golden.9500000</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥328.00的价格购买100000铜币吗？  </string>
	</dict>
    <key>1015</key>
	<dict>
		<key>id</key>
		<integer>1015</integer>
		<key>name</key>
		<string>21600000铜币</string>
		<key>price</key>
		<integer>648</integer>
		<key>product_id</key>
		<string>Mxiyou.golden.25000000</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥648.00的价格购买25000000铜币吗？  </string>
	</dict>
    <key>2010</key>
	<dict>
		<key>id</key>
		<integer>2010</integer>
		<key>name</key>
		<string>100元宝</string>
		<key>price</key>
		<integer>6</integer>
		<key>product_id</key>
		<string>Mxiyou.Rmb.100</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥6.00的价格购买100元宝吗？  </string>
	</dict>
    <key>2011</key>
	<dict>
		<key>id</key>
		<integer>2011</integer>
		<key>name</key>
		<string>550元宝</string>
		<key>price</key>
		<integer>30</integer>
		<key>product_id</key>
		<string>Mxiyou.Rmb.600</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥30.00的价格购买600元宝吗？  </string>
	</dict>
    <key>2012</key>
	<dict>
		<key>id</key>
		<integer>2012</integer>
		<key>name</key>
		<string>1360元宝</string>
		<key>price</key>
		<integer>68</integer>
		<key>product_id</key>
		<string>Mxiyou.Rmb.1500</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥68.00的价格购买1500元宝吗？  </string>
	</dict>
    <key>2013</key>
	<dict>
		<key>id</key>
		<integer>2013</integer>
		<key>name</key>
		<string>4950元宝</string>
		<key>price</key>
		<integer>198</integer>
		<key>product_id</key>
		<string>Mxiyou.Rmb.5000</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥198.00的价格购买5000元宝吗？  </string>
	</dict>
    <key>2014</key>
	<dict>
		<key>id</key>
		<integer>2014</integer>
		<key>name</key>
		<string>9300元宝</string>
		<key>price</key>
		<integer>328</integer>
		<key>product_id</key>
		<string>Mxiyou.Rmb.9500</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥328.00的价格购买9500元宝吗？  </string>
	</dict>
    <key>2015</key>
	<dict>
		<key>id</key>
		<integer>2015</integer>
		<key>name</key>
		<string>21600元宝</string>
		<key>price</key>
		<integer>648</integer>
		<key>product_id</key>
		<string>Mxiyou.Rmb.25000</string>
		<key>apple_id</key>
		<integer>667909830</integer>
		<key>description</key>
		<string>你想以￥648.00的价格购买25000元宝吗？  </string>
	</dict>
</dict>
</plist>
